@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@600&display=swap');

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

blockquote {
  padding: 1rem 2rem 3rem;
  background: white;
  box-shadow: 0px 0.4rem 0.8rem -0.4rem #888888;
  border-radius: .6rem;
  margin-top: -1rem;
  font-family: 'DM Sans';
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
  color: rgb(54, 54, 54);
}

cite {
  opacity: 0.6;
  font-size: 1rem;
}

main {
  display: grid;
    place-content: center;
    transform: translateY(-1rem);
    max-width: 60rem;
    padding: 1rem;
}